/* AddButton.css */

.add-button {
    display: inline-block;
    background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
    padding: 10px 20px;
    background-color: #280a48; 
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    /* Centering styles */
    display: block; /* Ensure the button takes full width */
    margin: 0 auto; /* Auto margin for horizontal centering */
  }
  
  .add-button:hover {
    background-color: #20043d; 
  }
  